name: deploy

on:
  push:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker hub
        uses: docker/login-action@v3
        with: 
          username: ${{ secrets.DOCKER_NAME }}
          password: ${{ secrets.DOCKER }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push
        uses: docker/build-push-action@v5
        with: 
          context: .
          file: ./ecommerce-mono963/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_NAME }}/docker-ecommerce:latest
